{{ form_start(form) }}

<style>
    .form-group{
        margin-right: 20px;
        border-radius: 10px;
        border: 1px solid white;
        padding-bottom:8px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    
    label{
        color:#455A64!important;
        padding-left: 10px;
    }
    
    #hallazgos_descripcion{
        height: 60px;
        padding-left:0px;
        margin-left: -10px;
    }
    
    .iconcalendar{
        margin-left:-27px;
        margin-top:26px;
        height: 34px;
    }
    .iconcalendar2{
        margin-left:31%;
        margin-top:26px;
        height: 34px;
    }
    #defectos_evidencia{
        width: 320%;
    }
    .form-group{
        border:none!important;
    }
    #proyectos_clave_proyecto, #proyectos_nombre_proyecto, #proyectos_lenguage, #proyectos_responsable {
        font-size:12.5px;
    }
</style>

<div class="container">
<div class="row" style="padding-left:17px; margin-right:16px;  font-size:12px;">
	    {{form_row(form.clave_proyecto)}}
	
</div>
<div class="row" style="padding-left:15px; margin-right:6px;  font-size:12px;">
	   {{form_row(form.nombre_proyecto  )}}
</div>
<div class="row" style="padding-left:17px; margin-right:16px;  font-size:12px;">
	    {{form_row(form.lenguage)}}
	     {{form_row(form.responsable)}}
</div>

<br>
<a class="btn" href="{{ path('proyectos_index') }}" style="color:#2c3e50;"><i class="fas fa-chevron-left fa-2x"></i></a>
<button class="btn shadow" 
style="background-color:#4C4C71; border:none; color:white; border-radius:0px; font-size:13.6px;">
{{ button_label|default('Guardar proyecto') }}</button>

</div>



{{ form_end(form) }}
