{% extends 'base.html.twig' %}

{% block title %}SQA | Proyectos{% endblock %}

    {% block body %}
        <style>
        .encabezadot{
            background-color: #4C4C71;
            color:white;
            font-weight: lighter;
        }
        .body{
            font-size: 11px;
        }
        .btnnuevo{
            background-color: #666699;
            border-radius:0px;
            color:white;
            font-size: 12px;
            padding-left: 5px;
        }
        .btnsecundario{
            background-color: #546E7A;
            border-radius:0px;
            color:white;
            font-size: 12px;
            padding-left: 5px;
        }
        .badge{
            border-radius:0px;
        }
        th{
            font-size: 13px; font-weight:lighter;
        }
        .izquierdo{
            padding-right: 0px;
            padding-left: 0px;
        }
        .derecho{
            padding-left: 0px;
            padding-right: 0px;
        }
        .list-group{
            border-radius: none;
        }
        .list-group-item{
            padding-bottom: 2px;
        }
        .enlistabtn{
            background-color: #666699;
            padding:5px;
            padding-right: 10px;
            margin:0px;
            border:none;
            color:white;
            width: 130px;
        }
        #segundaVistadiv{
            display: none;
        }
        #terceraVistadiv{
            background-color: yellow;
            display: none;
        }
       

        </style>






    <div style="background-color:#666699; padding-right:10px; ;padding-top:3px; padding-bottom:1px; color:white; text-align:right;">
    </div><br>
     

    <div class="container-fluid">
       <h4>| Proyectos</h4>
            <p style="font-size:12.5px; color:#455A64;"><i class="fas fa-info-circle" style="font-size:15px; color:#e67e22;"> </i> Información de todos los proyectos registrados en <strong>Simetrical</strong> </p>

            <div style="padding-bottom:10px; text-align:right;">
                <a href="{{ path('proyectos_new') }}" class="btn btnnuevo shadow" style="color:white;"><i class="fas fa-plus"> </i>  Nuevo Registro</a>
            </div>





    <div class="container-fluid" >
        <div class="row">
            <div class="col" style="font-size:13px; ">
                <!-- contenido panel 1-->
                <ul class="list-group list-group-flush shadow" >
                    <li class="list-group-item " style="background-color:#666699;"><button class="enlistabtn" id="vistaGeneralbtn"><i class="fas fa-project-diagram" style="font-size:16px;"></i> Vista General</button></li>
                    <li class="list-group-item" style="background-color:#666699;"><button class="enlistabtn" id="segundaVistabtn"><i class="fas fa-laptop-code" style="font-size:16px;"></i> Por Framework</button></li>
                    <li class="list-group-item " style="background-color:#666699;"><button class="enlistabtn"  id="terceraVistabtn"><i class="fas fa-walking" style="font-size:16px;"></i> Por Responsable</button></li>
                    <li class="list-group-item disabled" style="background-color:#666699;">Opcion 4</li>
                    <li class="list-group-item disabled" style="background-color:#666699;">Opcion 5</li>
                </ul>



                <!-- fin panel 1 -->
            </div>

            <div class="col-10 shadow" style="padding: 0px;" id="vistaGeneraldiv">
                <!-- contenido planel 2-->
                <table class="table highchart table-ligth table-hover" style="font-size: 12px;">
                    <thead class="thead encabezadot">
                        <tr>
                            <th>ID</th>
                            <th>Clave de proyecto</th>
                            <th>Nombre</th>
                            <th>Responsable</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                            <tr>
                                <td>{{ proyecto.id }}</td>
                                <td style="font-weight:bold;">{{ proyecto.claveProyecto }}</td>
                                <td>{{ proyecto.nombreProyecto }}</td>

                                <td>{{ proyecto.responsable.nombreUsuario }}</td>

                                <td>
                                    <a href="{{ path('proyectos_show', {'id': proyecto.id}) }}"><i class="fas fa-eye fa-2x" style="color:#0091EA;"></i></a>
                                    <a href="{{ path('proyectos_edit', {'id': proyecto.id}) }}"><i class="fas fa-highlighter" style="color:#0277BD; font-size:15px;"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <!-- cierre panel 2-->
            </div> <!-- cierra div vistaGeneral -->

            <div class="col-10 shadow" style="padding: 0px; align-items:center;" id="segundaVistadiv"><br>
                <p>Indicadores de grafica 1 </p> <br>
                <div id="chartdiv" style="width:60%; height:280px;" class="container"></div>
            </div> <!-- cierra div secundaVista -->
            <div class="col-10 shadow" style="padding: 0px;" id="terceraVistadiv">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae inventore tenetur velit ducimus explicabo architecto expedita quidem labore quibusdam reprehenderit aliquam accusamus cumque iure adipisci dicta, culpa sunt? Consequatur, sit.</p>
            </div> <!-- cierra div secundaVista -->
        </div>
    </div>
</div>






{% endblock %}
