{% extends 'base.html.twig' %}

{% block title %}New Proyectos{% endblock %}

	{% block body %}

		<div style="background-color:#666699; padding-right:10px; ;padding-top:3px; padding-bottom:1px; color:white; text-align:right;">
		</div><br>

		<div class="container" style="padding-top:1px; border-left: 4px solid #4C4C71;">
			<h4>Nuevo proyecto</h4>
			<p style="font-size:12.5px; color:gray;"><strong> Por favor, ingrese los datos del proyecto:</strong>  </p>
			<br>
			{{ include('proyectos/_form.html.twig') }}


		{% endblock %}
