{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block body %}
    <h1>Proyectos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proyecto.id }}</td>
            </tr>
            <tr>
                <th>Clave_proyecto</th>
                <td>{{ proyecto.claveProyecto }}</td>
            </tr>
            <tr>
                <th>Nombre_proyecto</th>
                <td>{{ proyecto.nombreProyecto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('proyectos_index') }}">back to list</a>

    <a href="{{ path('proyectos_edit', {'id': proyecto.id}) }}">edit</a>

    {{ include('proyectos/_delete_form.html.twig') }}
{% endblock %}
