{% extends 'base.html.twig' %}

{% block title %}Edit Ciclos{% endblock %}

{% block body %}
    <h1>Edit Ciclos</h1>

    {{ include('ciclos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ciclos_index') }}">back to list</a>

    {{ include('ciclos/_delete_form.html.twig') }}
{% endblock %}
