{% extends 'base.html.twig' %}

{% block title %}Ciclos index{% endblock %}

  {% block body %}
   <style>
   .encabezadot{
    background-color: #4C4C71;
    color:white;
    font-weight: lighter;
  }
  .body{
    font-size: 11px;
  }
  .card-body{
    padding-left: 12px;
  }
  .btnnuevo{
    background-color: #666699;
    border-radius:0px;
    color:white;
    font-size: 11px;
    padding-left: 5px;
  }
  .btnsecundario{
    background-color: #546E7A;
    border-radius:0px;
    color:white;
    font-size: 12px;
    padding-left: 5px;
  }
  .badge{
    border-radius:0px;
  }
  th{
    font-size: 12px; font-weight:lighter;
  }
  .izquierdo{
    padding-right: 0px;
    padding-left: 0px;
  }
  .derecho{
    padding-left: 0px;
    padding-right: 0px;
  }
  .list-group{
    border-radius: none;
  }
  .list-group-item, .show{
    border-radius: none;
    border:none;
  }
  #boton12:hover{
    background-color:#414161;
    color: white;
  }
  .pcard{
    margin-bottom: 1px;
    font-size: 10.5px;
    text-align: left;
  }
  .pcard2{
   margin-bottom: 1px;
   font-size: 10.5px;
   text-align: left;
   margin-top:18px;
 }
 .circulocolor{
  font-size:7px;
  padding-right: 3px;
  text-align: right;
}

h4{
  color: #2c3e50;
}


</style>
<div style="background-color:#666699; padding-right:10px; ;padding-top:3px; padding-bottom:1px; color:white; text-align:right;">

</div><br>

<div class="container-fluid">

  <h4>Requests | Ciclos</h4>
  <p style="font-size:12.5px; color:#455A64;"><i class="fas fa-info-circle" style="font-size:15px; color:#e67e22;"> </i> 
    <strong>Ciclos de prueba</strong> son definiciones de los Request o Sprints, que, depende la metodología utilizada en los proyectos se asigna a una revisión de<strong> SQA</strong> </p><br>



    <div class="row" style="color:white;">

      <div class="col">
        <div class="card" style="background-color:#ECEFF1; border:none;">
          <div class="card-body" style="padding-bottom:1px;">
            <div class="row">
             <div class="col-sm-3" style="padding:2px;">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters shadow" style="background-color:#414161;">
                  <div class="col-md-4" style="justify-content:center; align-items:center; display:flex; padding-left:5px; padding-right:5px;">
                    <h1 style="font-size:2.5vw; margin:5px;">{{totales}}</h1>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" style="padding:2px;">
                      <p class="card-title" style="font-size:14px; margin-bottom:3px;"><strong>General</strong></p>
                      <p class="card-text" style="font-size:12px; color:#ECEFF1">
                        <p class="pcard"><i class="fas fa-circle circulocolor" style="color:#FAFAFA;"></i><strong>0</strong> Sin iniciar </p>
                        <p class="pcard"><i class="fas fa-circle circulocolor" style="color:#00E5FF;"></i><strong>{{empezados}}</strong> Iniciados </p>
                        <p class="pcard"><i class="fas fa-circle circulocolor" style="color:#e67e22;"></i><strong>0</strong> Cancelados </p>
                        <p class="pcard"> <i class="fas fa-circle circulocolor" style="color:#00E676;"></i><strong>{{finalizados}}</strong> Finalizados</p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3" style="padding:2px;">
             <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters shadow" style="background-color:#414161;">
                <div class="col-md-4" style="justify-content:center; align-items:center; display:flex; padding-left:5px; padding-right:5px;">
                  <h1 style="font-size:2.5vw; margin:5px;">3</h1>
                </div>
                <div class="col-md-8">
                  <div class="card-body" style="padding:2px;">
                    <p class="card-title" style="font-size:14px; margin-bottom:3px;"><strong>Proyectos</strong></p>
                    <p class="card-text" style="font-size:12px; color:#0077B5">
                      <p class="pcard">Proyectos distint.</p>
                      <p class="pcard" style="color:#414161;">____________________</p>
                      <p class="pcard"><strong>1.3</strong> Promedio</p>
                      <p class="pcard">Proy/Request</p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3" style="padding:2px;">
           <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters shadow" style="background-color:#414161;">
              <div class="col-md-4" style="justify-content:center; align-items:center; display:flex; padding-left:5px; padding-right:5px;">
                <h1 style="font-size:2.5vw; margin:5px; text-align:right;">1.3</h1>
              </div>
              <div class="col-md-8">
                <div class="card-body" style="padding:2px;">
                  <p class="card-title" style="font-size:14px; margin-bottom:3px;"><strong>Duraciones</strong></p>
                  <p class="card-text" style="font-size:12px; color:#0077B5">
                    <p class="pcard">Días prom/Request</p>
                    <p class="pcard" style="color:#414161;">____________________</p>
                    <p class="pcard"> Mayor: <strong>{{finalizados}}</strong> días <i class="fas fa-sort-up" style="color:#FF6D00;"></i></p>
                    <p class="pcard"> Menor: <strong>{{finalizados}}</strong> días <i class="fas fa-sort-down" style="color:#00BCD4;"></i></p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3" style="padding:2px;">
         <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters shadow" style="background-color:#414161;">
            <div class="col-md-4" style="justify-content:center; align-items:center; display:flex; padding-left:5px; padding-right:5px;">
              <h1 style="font-size:2.5vw; margin:5px;">4</h1>
            </div>
            <div class="col-md-8">
              <div class="card-body" style="padding:2px;">
                <p class="card-title" style="font-size:14px; margin-bottom:3px;"><strong>Nuevos</strong></p>
                <p class="card-text" style="font-size:12px; color:#ECEFF1">
                  <p class="pcard">Prom News/Mes</p>
                  <p class="pcard" style="color:#414161;">____________________</p>
                  <p class="pcard"><strong>1.3</strong> Prom de</p>
                  <p class="pcard">Proyectos / Request</p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col">
  <div class="chart-container" style="position: relative; height:154px; width:90%; text-align:center;">
   <canvas id="myChart"></canvas>
 </div>



</div>
</div>



<div style="padding-bottom:5px; padding-top:15px; align-items:center; text-align:right;">
  <a href="{{ path('ciclos_new') }}" class="btn btnnuevo shadow" id="boton12" style="font-size:12px; margin-right:6px;">| Registrar nuevo Request</a>
</div>


<table class="table table-ligth table-hover" style="font-size: 12px;" id="tablaCiclos">
  <thead class="thead encabezadot">
    <tr>
      <th>Id</th>
      <th>Nombre del ciclo</th>
      <th>Inicio programado</th>
      <th>Inicio real</th>
      <th>Fin programado</th>
      <th>Fin real</th>
      <th>Proyecto</th>
      <th>Estatus</th>
      <th>Duración</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for ciclo in ciclos %}
      <tr>
        <td>{{ ciclo.id }}</td>
        <td>{{ ciclo.nombreCiclo }}</td>
        <td>{{ ciclo.fIniProg ? ciclo.fIniProg|date('Y-m-d') : '' }}</td>

        {%  if ciclo.fIniReal == ''  %}
        <td style="width:6%; font-size:13px;"> <span class="badge shadow" style="background-color:gray;color:White; padding:4px;">Sin datos</span></td>
      {% else %}
        <td><span class="badge badge-info" style="background-color:#7986CB;">{{ ciclo.fIniReal ? ciclo.fIniReal|date('Y-m-d') : '' }}</span></td>

      {% endif %}




      <td>{{ ciclo.fFinProg ? ciclo.fFinProg|date('Y-m-d') : '' }}</td>

      {%  if ciclo.fFinReal == ''  %}
      <td style="width:6%; font-size:13px;"> <span class="badge shadow" style="background-color:gray;color:White; padding:4px;">Sin datos</span></td>
    {% else %}
      <td><span class="badge badge-info" style="background-color:#7986CB;">{{ ciclo.fFinReal ? ciclo.fFinReal|date('Y-m-d') : '' }}</span></td>

    {% endif %}

    <td>{{ ciclo.proyecto.nombreProyecto }}</td>
    

    {% if ciclo.estatusCiclo == "Finalizado"    %}
     <td><i class="fas fa-circle circulocolor" style="color:#00E676; font-size:12px;"></i> {{ ciclo.estatusCiclo}}</td>
     <td>{{ciclo.duracionCiclos}}</td>
   {% elseif ciclo.estatusCiclo == "Cancelado" %}
      <td><i class="fas fa-circle circulocolor" style="color:#e67e22; font-size:12px;"></i> {{ ciclo.estatusCiclo}}</td>
     <td>{{ciclo.duracionCiclos}}</td>
   {% elseif ciclo.estatusCiclo == "Iniciado" %}
        <td><i class="fas fa-circle circulocolor" style="color:#00E5FF; font-size:12px;"></i> {{ ciclo.estatusCiclo}}</td>
     <td>{{ciclo.duracionCiclos}}</td>
   {% else %}
    <td><i class="fas fa-circle circulocolor" style="color:#FAFAFA; font-size:12px;"></i>{{ ciclo.estatusCiclo}}</td>
    <td>{{ ciclo.duracionCiclos}}</td>
  {% endif %}


  <td>
    <a href="{{ path('ciclos_show', {'id': ciclo.id}) }}"><i class="fas fa-eye fa-2x" style="color:#0091EA;"></i></a>
    <a href="{{ path('ciclos_edit', {'id': ciclo.id}) }}"><i class="fas fa-highlighter" style="color:#0277BD; font-size:15px;"></i></a>
  </td>
</tr>
{% else %}
  <tr>
    <td colspan="7">no records found</td>
  </tr>
{% endfor %}
</tbody>
</table>



</div>








{% endblock %}
