{% extends 'base.html.twig' %}

{% block title %}New Ciclos{% endblock %}

{% block body %}
  <div style="background-color:#78909C; padding-right:10px; ;padding-top:3px; padding-bottom:1px; color:white; text-align:right;">
      <p style="font-size:14px; margin-bottom:4px;"> <i class="fas fa-project-diagram"></i>  Registro de Requests entrante</p>

    </div><br>

    <div class="container" style="padding-top:1px; border-left: 4px solid #2f245d;">
            <p style="font-size:12.5px; color:gray;"><strong> Datos que tendrá la incidencia a crear:</strong>  </p>

  
{{ include('ciclos/_form.html.twig') }}

  
    </div>
{% endblock %}
