{% extends 'base.html.twig' %}

{% block title %}Ciclos{% endblock %}

{% block body %}
    <h1>Ciclos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ciclo.id }}</td>
            </tr>
            <tr>
                <th>Nombre_ciclo</th>
                <td>{{ ciclo.nombreCiclo }}</td>
            </tr>
            <tr>
                <th>F_ini_prog</th>
                <td>{{ ciclo.fIniProg ? ciclo.fIniProg|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>F_ini_real</th>
                <td>{{ ciclo.fIniReal ? ciclo.fIniReal|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>F_fin_prog</th>
                <td>{{ ciclo.fFinProg ? ciclo.fFinProg|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>F_fin_real</th>
                <td>{{ ciclo.fFinReal ? ciclo.fFinReal|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ciclos_index') }}">back to list</a>

    <a href="{{ path('ciclos_edit', {'id': ciclo.id}) }}">edit</a>

    {{ include('ciclos/_delete_form.html.twig') }}
{% endblock %}
