{% extends 'base.html.twig' %}

{% block title %}Usuarios index{% endblock %}

{% block body %}
    <h1>Usuarios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre_usuario</th>
                <th>Email_usuario</th>
                <th>Puesto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombreUsuario }}</td>
                <td>{{ usuario.emailUsuario }}</td>
                <td>{{ usuario.puesto.nombrePuesto }}</td>
                <td>
                    <a href="{{ path('usuarios_show', {'id': usuario.id}) }}">show</a>
                    <a href="{{ path('usuarios_edit', {'id': usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('usuarios_new') }}">Create new</a>
{% endblock %}
