{% extends 'base.html.twig' %}

{% block title %}Edit Puestos{% endblock %}

{% block body %}
    <h1>Edit Puestos</h1>

    {{ include('puestos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('puestos_index') }}">back to list</a>

    {{ include('puestos/_delete_form.html.twig') }}
{% endblock %}
