{% extends 'base.html.twig' %}

{% block title %}Puestos index{% endblock %}

{% block body %}
    <h1>Puestos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre_puesto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for puesto in puestos %}
            <tr>
                <td>{{ puesto.id }}</td>
                <td>{{ puesto.nombrePuesto }}</td>
                <td>
                    <a href="{{ path('puestos_show', {'id': puesto.id}) }}">show</a>
                    <a href="{{ path('puestos_edit', {'id': puesto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('puestos_new') }}">Create new</a>
{% endblock %}
