{% extends 'base.html.twig' %}

{% block title %}New Puestos{% endblock %}

{% block body %}
    <h1>Create new Puestos</h1>

    {{ include('puestos/_form.html.twig') }}

    <a href="{{ path('puestos_index') }}">back to list</a>
{% endblock %}
