{% extends 'base.html.twig' %}

{% block title %}Puestos{% endblock %}

{% block body %}
    <h1>Puestos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ puesto.id }}</td>
            </tr>
            <tr>
                <th>Nombre_puesto</th>
                <td>{{ puesto.nombrePuesto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('puestos_index') }}">back to list</a>

    <a href="{{ path('puestos_edit', {'id': puesto.id}) }}">edit</a>

    {{ include('puestos/_delete_form.html.twig') }}
{% endblock %}
