{{ form_start(form) }}

<style>
    .form-group{
        margin-right: 20px;
        border-radius: 10px;
        border: 1px solid white;
        padding-bottom:8px;
        margin-bottom: 0px;
        font-weight: bold;
    }
    
    label{
        color:#455A64!important;
        padding-left: 10px;
    }
    
    #hallazgos_descripcion{
        height: 60px;
        padding-left:0px;
        margin-left: -10px;
    }
    
    .iconcalendar{
        margin-left:-20px;
        margin-top:26px;
        height: 34px;
    }
    .iconcalendar2{
        margin-left:31%;
        margin-top:26px;
        height: 34px;
        background-color: transparent;
        border:none;
    }
    #defectos_evidencia{
        width: 320%;
    }
    .form-group{
        border:none!important;
    }
    #defectos_asunto_defecto, #defectos_evidencia, #defectos_descripcion_defecto {
        font-size:12.5px;
    }

    .form-control{
        border-radius: 0px;
    }
    #basic-addon2{
        border:none;
    }
</style>

<div class="row" style="padding-left:17px; margin-right:16px;  font-size:12px;">
    {{form_row(form.tipo_defecto)}}
    
    {{ form_row(form.fecha_reportado) }}
    <div class="input-group-append iconcalendar">
        <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
    </div>
</div>


<div style="padding-left:0px; width:50%;  font-size:12px;">
    {{form_row(form.asunto_defecto)}}
</div>


<div style="padding-left:0px; margin-right:6px;  font-size:12px;">
    {{ form_row(form.descripcion_defecto) }} 
</div>




<div class="row" style="padding-left:17px; margin-right:16px;  font-size:12px;">
    
    {{ form_row(form.proyecto) }}
    {{ form_row(form.ciclo) }} 
    {{ form_row(form.nivel) }} 
    {{ form_row(form.estatus) }} 
</div>

<div class="row" style="padding-left:17px; margin-right:16px;  font-size:12px;">

{{ form_row(form.tester) }} 
{{ form_row(form.usuario) }} 
{{ form_row(form.fecha_corregido) }} 
<div class="input-group-append iconcalendar">
        <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
    </div>
</div>

<div class="row" style="padding-left:17px; font-size:12px;">
    {{ form_row(form.evidencia) }}
    <div class="input-group-append iconcalendar2">
            <span class="input-group-text" id="basic-addon2"><i class="fab fa-bitbucket"></i></span>
       </div>
</div>

<a class="btn" href="{{ path('defectos_index') }}" style="color:#2c3e50;"><i class="fas fa-chevron-left fa-2x"></i></a>
<button class="btn shadow" 
style="background-color:#2980b9; border:none; color:white; border-radius:0px; font-size:13.6px;">
{{ button_label|default('Guardar defecto') }}</button>



{{ form_end(form) }}









