{% extends 'base.html.twig' %}

{% block title %}Edit Defectos{% endblock %}

{% block body %}
<div style="background-color:#78909C; padding-right:10px; ;padding-top:3px; padding-bottom:1px; color:white; text-align:right;">
  <p style="font-size:14px; margin-bottom:4px;"> <i class="fas fa-project-diagram"></i>Edición de Defecto</p>
  
</div><br>

    <div class="container" style="padding-top:1px; border-left: 4px solid #2f245d;">

    {{ include('defectos/_form.html.twig', {'button_label': 'Actualizar defecto'}) }}

    {{ include('defectos/_delete_form.html.twig') }}


</div>
{% endblock %}
