{% extends 'base.html.twig' %}

{% block title %}SQA | Home{% endblock %}

  {% block body %}
    <style>
    .encabezadot{
      background-color: #4C4C71;
      color:white;
      font-weight: lighter;
    }
    .body{
      font-size: 11px;
    }
    .btnnuevo{
      background-color: #666699;
      border-radius:0px;
      color:white;
      font-size: 12px;
      padding-left: 5px;
    }
    .btnsecundario{
      background-color: #e67e22;
      border-radius:0px;
      color:white;
      font-size: 12px;
      padding-left: 5px;
    }
    .badge{
      border-radius:0px;
    }
    th{
      font-size: 12px; font-weight:lighter;
    }
    .izquierdo{
      padding-right: 0px;
      padding-left: 0px;
    }
    .derecho{
      padding-left: 0px;
      padding-right: 0px;
    }
    .list-group{
      border-radius: none;
    }
    .list-group-item, .show{
      border-radius: none;
      border:none;
    }
    #boton11:hover{
      background-color:#414161;
      color: white;
    }
    h4{
  color: #2c3e50;
}
    </style>





    <div style="background-color:#666699; padding-right:10px; ;padding-top:3px; padding-bottom:1px; color:white; text-align:right;">
    </div><br>
     

    <div class="container-fluid">
       <h4>| Defectos</h4>
      <p style="font-size:12.5px; color:#455A64;"><i class="fas fa-info-circle" style="font-size:15px; color:#e67e22;"> </i> Información de las Incidencias, errores, sugerencias registradas por QA en <strong>Simetrical</strong> </p><br>

      <!-- info de KPIS -->

      <div class="row" style="color:white; background-color:#ECEFF1;">
        <div class="col-sm-6" style="padding:2px; margin-left:-8px;">
          <div class="card" style="border:none;">
            <div class="card-body border-light" style="padding-bottom:4px; background-color:#ECEFF1;">

              <div class="row">
                <div class="col-sm-6">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters shadow" style="background-color:#414161;">
                      <div class="col-md-4" style="justify-content:center; align-items:center; display:flex">
                        <h1 style="font-size:3vw;">{{bajos + medios + altos + urgentes}}</h1>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-size:14px;">Totales</h5>
                          <p class="card-text" style="font-size:13px; color:#ECEFF1;">Total Defectos reportados</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6" style="color:White; border:none;">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters shadow" style="background-color:#414161; border:none;">
                      <div class="col-md-4" style="justify-content:center; align-items:center; display:flex">
                        <h1 style="font-size:3vw;">{{pendientes}}</h1>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-size:14px;">Pendientes</h5>
                          <p class="card-text" style="font-size:13px; color:#ECEFF1;">Defectos por corregir</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




            </div>
          </div>
        </div>
        <div class="col-sm-6" style="padding:2px; padding-top:0px; margin-bottom:2px;">
          <div class="card" style="background-color:#ECEFF1; border:none;">
            <div class="card-body" style="padding-bottom:1px;">
              <div class="row">
                <div class="col-sm-3" style="padding:2px;">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters shadow" style="background-color:#414161;">
                      <div class="col-md-4" style="justify-content:center; align-items:center; display:flex">
                        <h1 style="font-size:3vw;">{{bajos}}</h1>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-size:14px; margin-bottom:3px;">Bajos</h5>
                          <p class="card-text" style="font-size:13px; color:#ECEFF1">
                            <i class="fas fa-angle-down fa-2x"></i>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3" style="padding:2px;">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters shadow" style="background-color:#414161;">
                      <div class="col-md-4" style="justify-content:center; align-items:center; display:flex">
                        <h1 style="font-size:3vw;">{{medios}}</h1>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-size:14px; margin-bottom:3px;">Medios</h5>
                          <p class="card-text" style="font-size:13px; color:#ECEFF1;"><i class="fas fa-grip-lines fa-2x"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3" style="padding:2px;">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters shadow" style="background-color:#414161">
                      <div class="col-md-4" style="justify-content:center; align-items:center; display:flex">
                        <h1 style="font-size:3vw;">{{altos}}</h1>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-size:14px; margin-bottom:3px;">Altos</h5>
                          <p class="card-text" style="font-size:13px; color:#ECEFF1;"><i class="fas fa-angle-up fa-2x"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3" style="padding:2px;">
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters shadow" style="background-color:#414161">
                      <div class="col-md-4" style="justify-content:center; align-items:center; display:flex">
                        <h1 style="font-size:3vw;">{{urgentes}}</h1>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-size:14px; margin-bottom:3px;">Urgentes</h5>
                          <p class="card-text" style="font-size:13px; color:#ECEFF1;"><i class="fas fa-caret-up fa-2x"></i></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- end of KPI -->




      <a href="{{ path('defectos_new') }}" class="btn btnnuevo shadow" id="boton11" style="color:white;"><i class="fas fa-plus"> </i>  Nuevo Registro</a>

      <button class="btn btnsecundario shadow" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2" style="font-size:12px;"><i class="far fa-question-circle"></i>  Descripción de íconos</button>

      <!-- inicio de seccon de descripcion de indicadores -->

      <div class="row">
        <div class="col izquierdo">
          <div class="collapse multi-collapse" id="multiCollapseExample1" >
            <div class="card card-body" style="border:0px solid white; background-color:#ECEFF1;">
              <ul class="list-group" style="font-size:12px;">
                <li class="list-group-item list-group-item-secondary" style="background-color: #B0BEC5;"><strong>Prioridad (Pr)</strong></li>
                <li class="list-group-item"><i class="fas fa-angle-down" style="color:#00BCD4;" font-size:15px;></i> <strong>Bajo :</strong> Un problema de pérdida de menor funcionalidad, o problema estético.</li>
                <li class="list-group-item"><i class="fas fa-arrows-alt-h" style="color:#0097A7; font-size:15px;"></i> <strong>Medio :</strong> Una parte menor del componente no es funcional, pero se puede seguir utilizando el sistema.</li>
                <li class="list-group-item"><i class="fas fa-angle-up" style="color:#006064; font-size:15px;"></i> <strong>Alto :</strong> Pérdida mayor de funcionalidad, datos incorrectos o dificultades que inhiben parcial o totalmente el uso.</li>
                <li class="list-group-item"><i class="fas fa-angle-double-up" style="color:#004D40; font-size:15px;"></i> <strong>Urgente :</strong> Crash de la aplicación, perdida de datos e inhibe la continuidad de uso.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col derecho">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body" style="border:0px solid white; background-color:#ECEFF1;">
              <ul class="list-group" style="font-size:12px;">
                <li class="list-group-item list-group-item-secondary" style="background-color: #B0BEC5;"><strong>Tipo (T) y Estatus (Es)</strong></li>
                <li class="list-group-item"><i class="fas fa-bug" style="color:#004D40; font-size:15px;"></i> <strong>Bug :</strong>  error o un defecto en el software o hardware que hace que un programa funcione incorrectamente.</li>
                <li class="list-group-item"><i class="far fa-lightbulb" style="color:#26A69A; font-size:15px;"></i> <strong>Sugerencia :</strong> Mejora detectada en diseño, funcionalidad o usabilidad del sistema probado.</li>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <!--   fin de seccion de indicadores -->


      <hr><br>
      <table class="table table-ligth table-hover table-sm" style="font-size: 11px;" id="tablaDefectos">
        <thead class="thead encabezadot">
          <tr>
            <th><i class="fas fa-fingerprint"></i></th>

            <th><i class="far fa-folder-open"></i>Tipo</th>

            <th><i class="far fa-folder-open" style="width: 100px;"></i> Asunto reportado</th>

            <th> <i class="far fa-calendar"> </i> Registro</th>
            <th><i class="fas fa-dice-d6"></i> Proyecto</th>
            <th>Request</th>
            <th><i class="fas fa-project-diagram"></i> Estatus</th>
            <th><i class="fas fa-heartbeat"></i> Nivel</th>
            <th><i class="fas fa-user-secret"></i> Tester</th>
            <th><i class="far fa-folder-open"></i> Evidencia</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for defecto in defectos %}
            <tr>
              <td>{{ defecto.id }}</td>

              {%  if defecto.tipoDefecto == "Bug"  %}
              <td><i class="fas fa-bug fa-2x"></i></td>
            {% else %}
              <td><i class="far fa-lightbulb fa-2x" style="color:#0091EA;"></i></td>
           {% endif %}


           <td>{{ defecto.asuntoDefecto }}</td>
           <td>{{ defecto.fechaReportado ? defecto.fechaReportado|date('Y-m-d') : '' }}</td>
           <td>{{ defecto.proyecto.nombreProyecto }}</td>

      
           <td>{{ defecto.ciclo.nombreCiclo }}</td>




           {%  if defecto.estatus == "Pendiente"  %}
           <td style=" font-size:13px;"> <span class="badge shadow" style="background-color:gray;color:White; padding:4px;">TO DO</span></td>
         {% else %}
          <td style="width:6%; font-size:13px;" > <span class="badge shadow" style="background-color:#2980b9;color:white; padding:4px;"> DONE! </span></td>
        {% endif %}


        {% if defecto.nivel == "Bajo" %}
          <td  data-toggle="tooltip" data-placement="top" title="Bajo"><i class="fas fa-angle-down fa-2x" style="color:#00B8D4; "></i></td>
        {% elseif defecto.nivel == "Medio"    %}
          <td  data-toggle="tooltip" data-placement="top" title="Medio"><i class="fas fa-grip-lines fa-2x" style="color:#0091EA;"></i></td>
        {% elseif defecto.nivel == "Alto"    %}   
         <td  data-toggle="tooltip" data-placement="top" title="Alto"><i class="fas fa-angle-up fa-2x" style="color:#2979FF; "></i></td>
       {% else  %}   
         <td  data-toggle="tooltip" data-placement="top" title="Urgente"><i class="fas fa-caret-up fa-2x" style="color:#607D8B; "></i></td>
       {% endif %}

       <td>{{ defecto.tester }}</td>

       {% if defecto.evidencia != "" %}
        <td>
          <a href="{{ defecto.evidencia }}" data-toggle="tooltip" data-placement="top" title="Descargar"><i class="fab fa-bitbucket fa-2x" style="color:#2980b9;"></i></a>
        </td>
      {% else %}
        <td>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Sin evidencia" class="disabled"><i class="fab fa-bitbucket fa-2x" style="color:#607D8B;"></i></a>
        </td>
      {% endif %}
      <td>
        <a href="{{ path('defectos_show', {'id': defecto.id}) }}"><i class="fas fa-eye fa-2x" style="color:#0091EA;"></i></a>
        <a href="{{ path('defectos_edit', {'id': defecto.id}) }}"><i class="fas fa-highlighter" style="color:#0277BD; font-size:15px;"></i></a>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="8">No se encontraron registros para mostrar..</td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
