{% extends 'base.html.twig' %}

{% block title %}New Defectos{% endblock %}

{% block body %}
<div style="background-color:#78909C; padding-right:10px; ;padding-top:3px; padding-bottom:1px; color:white; text-align:right;">
  <p style="font-size:14px; margin-bottom:4px;"> <i class="fas fa-project-diagram"></i>Reportar nuevo Defecto</p>
  
</div><br>

    <div class="container" style="padding-top:1px; border-left: 4px solid #2980b9;">
            <p style="font-size:12.5px; color:gray;"><strong> Datos que tendrá la incidencia a crear:</strong>  </p>
       
    {{ include('defectos/_form.html.twig') }}

  
    </div>
{% endblock %}

