{% extends 'base.html.twig' %}

{% block title %}Defectos{% endblock %}

{% block body %}
<style>
    th{
        width: 250px;
        color:gray;
        padding-left: 2px;
    }

</style>

<div style="background-color:#78909C; padding-right:10px; ;padding-top:3px; padding-bottom:1px; color:white; text-align:right;">
  <p style="font-size:14px; margin-bottom:4px;"> <i class="fas fa-project-diagram"></i>Datos del defecto seleccionado</p>
  
</div><br>
    <div class="container" style="padding-top:1px; border-left: 4px solid #2f245d; font-size:14px;">
            <p style="font-size:12.5px; color:gray;"><strong> Datos completos del Defecto:</strong>  </p>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ defecto.id }}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ defecto.asuntoDefecto }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ defecto.descripcionDefecto }}</td>
            </tr>
            <tr>
                <th>Proyecto</th>
                <td>{{ defecto.proyecto.nombreProyecto }}</td>
            </tr>
            <tr>
                <th>Ciclo o Request</th>
                <td>{{ defecto.ciclo.nombreCiclo }}</td>
            </tr>
            <tr>
                <th>Fecha reportado</th>
                <td>{{ defecto.fechaReportado ? defecto.fechaReportado|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ defecto.estatus }}</td>
            </tr>
            <tr>
                <th>Nivel</th>
                <td>{{ defecto.nivel }}</td>
            </tr>
            <tr>
                <th>Tester</th>
                <td>{{ defecto.tester }}</td>
            </tr>
            <tr>
                <th>URL de evidencia</th>
                <td>{{ defecto.evidencia }}</td>
            </tr>
        </tbody>
    </table>

</i></a>
<a class="btn" href="{{ path('defectos_index') }}" style="color:#2c3e50;"><i class="fas fa-chevron-left fa-2x"></i></a>

  


    </div>
{% endblock %}
