<form method="post" action="{{ path('lenguage_delete', {'id': lenguage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lenguage.id) }}">
    <button class="btn">Delete</button>
</form>
