{% extends 'base.html.twig' %}

{% block title %}Edit Lenguage{% endblock %}

{% block body %}
    <h1>Edit Lenguage</h1>

    {{ include('lenguage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lenguage_index') }}">back to list</a>

    {{ include('lenguage/_delete_form.html.twig') }}
{% endblock %}
