{% extends 'base.html.twig' %}

{% block title %}Lenguage index{% endblock %}

    {% block body %}
        <h1>Lenguage index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre_lenguage</th>
                    <th>icono</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for lenguage in lenguages %}
                    <tr>
                        <td>{{ lenguage.id }}</td>
                        <td>{{ lenguage.nombreLenguage }}</td>
                      
                        {% if lenguage.icono != "" %}
                         <td> {{ lenguage.icono | raw }}</td>   
                         {% else %}         
                            {{ lenguage.icono }}
                        {% endif %}

                        <td>
                            <a href="{{ path('lenguage_show', {'id': lenguage.id}) }}">show</a>
                            <a href="{{ path('lenguage_edit', {'id': lenguage.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('lenguage_new') }}">Create new</a>
    {% endblock %}
