{% extends 'base.html.twig' %}

{% block title %}New Lenguage{% endblock %}

{% block body %}
    <h1>Create new Lenguage</h1>

    {{ include('lenguage/_form.html.twig') }}

    <a href="{{ path('lenguage_index') }}">back to list</a>
{% endblock %}
