{% extends 'base.html.twig' %}

{% block title %}Lenguage{% endblock %}

{% block body %}
    <h1>Lenguage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lenguage.id }}</td>
            </tr>
            <tr>
                <th>Nombre_lenguage</th>
                <td>{{ lenguage.nombreLenguage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lenguage_index') }}">back to list</a>

    <a href="{{ path('lenguage_edit', {'id': lenguage.id}) }}">edit</a>

    {{ include('lenguage/_delete_form.html.twig') }}
{% endblock %}
