<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  
  {% block stylesheets %}{% endblock %}

    <style>
    .claserow1{
      font-size: 13px;
      padding-right: 20px;
      margin-right: 20px;
      border-radius: none!important;
    }
    .nav1{
      background-color: #414161;

    }
    body{
      background-color: #ECEFF1;

    }
    .imagen1{
      filter: grayscale(0%);
    }
    
    </style>

  </head>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark nav1" style="height:80%; padding-bottom:0px; padding-top:1px; font-size:12px;" style="background-color:#666699;">
    <a class="navbar-brand" href=" {{ path('defectos_index') }}"><strong style="color:#00ACC1;">
     <img src="{{ asset('logo1.png', 'imagenlogo') }}" alt="Symfony!" style="width:30px;" class="imagen1" />
     S</strong><strong>|QA  </strong></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="font-weight: light; padding-left:30px;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=" {{ path('defectos_index') }}">Defectos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('ciclos_index') }}">Ciclos de Prueba</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('proyectos_index')}}">Proyectos</a>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link active" href="#">Configuraciones</a>
        </li>
        
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle navbar-dark" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tableros                  </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:12px;">
              <a class="dropdown-item" href="#">General</a>
              <a class="dropdown-item" href="#">Info Proyectos</a>
              <a class="dropdown-item" href="#">Info Testers</a>
              <a class="dropdown-item" href="#">Info Developers</a>
            </div>
          </li>
        </ul>
        <span class="navbar-text">
          <!-- comienza modal para mostrar documentación -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal" style="font-size:12px; color:white;">
            QA DOCS 
          </button>
          
          
          
          
          
          <!-- fin de modal para mostrar documetnación --> 
        </span>
      </div>
    </nav>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark" style="color:white;">
            <p class="modal-title" id="exampleModalLabel" style="font-size:14px;">Información sobre documentación del área</p>
            <br style="background-color:#00AFF0;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


            <!-- contenido del modal -->
            
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:black; text-decoration:none;">
                      Procesos
                    </button>
                  </h2>
                </div>
                
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="list-group" style="font-size:12px;">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso General de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Análisis de Requerimientos
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso Generación de Casos de Prueba
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Ejecución de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Auditoría de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:black; text-decoration:none;">
                      Procedimientos
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="list-group" style="font-size:12px;">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso General de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Análisis de Requerimientos
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso Generación de Casos de Prueba
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Ejecución de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Auditoría de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color:black; text-decoration:none;">
                      Plantillas
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="list-group" style="font-size:12px;">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso General de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Análisis de Requerimientos
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso Generación de Casos de Prueba
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Ejecución de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Auditoría de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color:black; text-decoration:none;">
                      Evidencia de Pruebas
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="list-group" style="font-size:12px;">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso General de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Análisis de Requerimientos
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso Generación de Casos de Prueba
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Ejecución de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Proceso de Auditoría de Pruebas
                        <span class="badge badge-info badge-pill"><i class="fas fa-cloud-download-alt"></i></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            
            
            <!-- fin contenido del modal -->
            
            
          </div>
          
        </div>
      </div>
    </div>
    
    {% block body %}{% endblock %}

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
      </script>
      <script src="https://kit.fontawesome.com/2f96e094fd.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script><script src="https://kit.fontawesome.com/2f96e094fd.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> 
      <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


      <!-- Resources -->
      <script src="jquery.min.js" type="text/javascript"></script>
      <script src="highcharts.js" type="text/javascript"></script>
      <script src="jquery.highchartTable.js" type="text/javascript"></script>
      <script src="https://cdnjs.com/libraries/Chart.js" type="text/javascript"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


      <!-- psdhtml -->
      <script src="../assets/js/psd/js/jquery.js"></script>
      <script src="../assets/js/psd/js/jcf.js"></script>
      <script src="../assets/js/psd/js/jcf.select.js"></script>
      <script src="../assets/js/psd/js/jcf.radio.js"></script>
      <script src="../assets/js/psd/js/jcf.checkbox.js"></script>

      <script>
      $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
          format: 'yyyy-mm-dd',
          autoclose: true,
          endDate: '0d',
          orientation: 'bottom',
          todayHighlight: true,
          
        });
      });       
      </script>


      <script>
      $(function() {
        jcf.replaceAll();
      });
      </script>


      <script>

      $('#defectos_estatus').change(function(){
       var valorCambiado =$(this).val();
       if (valorCambiado == '2'){
         $('#defectos_fecha_corregido').attr("disabled",false);
         $('#defectos_usuario').attr("disabled",false);
       } else {
        $('#defectos_fecha_corregido').attr("disabled",true);
        $('#defectos_usuario').attr("disabled",true);
      }
    });

      </script>



      <script>
      $("#vistaGeneralbtn").on('click',function(){
        $("#vistaGeneraldiv").show();
        $("#segundaVistadiv").hide();
        $("#terceraVistadiv").hide();
        return false;
      });



      $("#segundaVistabtn").on('click',function(){
        $("#vistaGeneraldiv").hide();
        $("#segundaVistadiv").show();
        $("#terceraVistadiv").hide();
        return false;
      });

      $("#terceraVistabtn").on('click',function(){
        $("#terceraVistadiv").show();
        $("#vistaGeneraldiv").hide();
        $("#segundaVistadiv").hide();
        return false;
      });
      </script>


      <script>
      $(".option").click(function(){
        $(".option").removeClass("active");
        $(this).addClass("active");

      });

      </script>

      <script>



      $('#ciclos_f_fin_real').change(function(){
       var fechaSeleccionada =$(this).val();
       var fechaInicial = $('#ciclos_f_ini_real').val();

       var fi = new Date(fechaInicial);
       var ff = new Date(fechaSeleccionada);

       if (fechaSeleccionada != 'NULL'){

        var difm = ff - fi;
        var difD = difm / (1000 * 60 * 60 * 24);
        var Redondeo = difD + 1;


        $("#ciclos_duracionCiclos").val(Redondeo); 
      }
    });

      </script>




      <script>

      var datos2019 = [];
      var datos2020 = [];



      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
          labels: ['En', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul','Ago','Sep','Oct','Nov','Dic'],
          datasets: [{
            label: 'Nuevos 2029',
            backgroundColor: '#4C4C71',
            borderColor: '#4C4C71',
            data: [0, 10, 5, 2, 20, 30, 45]
          },{
            label: 'Nuevos 2020',
            backgroundColor: '#455A64',
            borderColor: '#455A64',
            data: [5,7,2,3,0,7,0,7]
          }]
        },

        // Configuration options go here
        options: {
         responsive: true,
         maintainAspectRatio: false,
         scales: {
           yAxes:[{
            display: false
          }]
        }
      }
    });
      </script>


      {% block javascripts %}{% endblock %}
        </html>
